*{
  margin: 0;
  padding: 0;
}

.navbar img {
  width: 120px;
  max-width: 200px;
}

.navbar {
  background-color: black;
  padding: 0;
  margin: 0;
}

.navbar a{
  width: 200px;
  height: 70px;
  text-decoration: none;
  align-items: center;
  color: black;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
}

.navbar a:hover{
  color: black;
  text-decoration: none;
  transform: scale(1.1);
  box-shadow: 5px 5px 15px 5px rgba(123, 188, 238, 1);
  transition: 1s;
}

.workimage {
  width: 100%;
  height: 100vh;
  background: #000;
  position: relative;
  overflow: hidden;
}
.workimage::after{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(https://scontent.fwaw5-1.fna.fbcdn.net/v/t1.0-9/69495160_121111559255720_6951431004099706880_n.jpg?_nc_cat=110&ccb=2&_nc_sid=110474&_nc_ohc=d__gM48yJUgAX8SO0Je&_nc_ht=scontent.fwaw5-1.fna&oh=9bd5ff994e7137f9bfb7d96e738ee988&oe=5FE15C4A) no-repeat;
  background-size: cover;
  opacity: .3;
  animation: anim 25s linear infinite;
}
@keyframes anim {
  50%{
      transform:scale(1.5);
  }
  100%{
      transform: scale(1);
  }
}